@page "{id=1}"
@model Hackathon2022.Pages.DoctorModel
@{
}
<html>
	<head>
		<title>Запись к специалисту</title>

		<link href="~/css/Doctor.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
		<div class="container">
<div class="header">
	<img src="~/images/Index.png" width="80" height="100" alt="фоновая картинка" />
	<div class="headerText">Медицинская информационно-аналитическая система</div>
</div>
<div class="sidebar"> 
	<h1>Выберите специалиста</h1>
</div>

<div class="content1">
	<div class="content">
		@for (var i = 0; i < 4; i++)
		{
			<div class="item">
				<div class="color">
					<a class="speciality" href="/Times">
						<img src="~/images/Surgeon.png" width="50px"/>
						@Model.Doctors[i].SecondName 
						@Model.Doctors[i].FirstName.Substring(0,1).ToUpper(). 
						@Model.Doctors[i].MiddleName.Substring(0,1).ToUpper().
					</a>
				</div>
			</div>
		}
	</div>

	<div class="content">
		@for (var i = 4; i < 8; i++)
		{
			<div class="item">
				<div class="color">
					<a class="speciality" href="/Times">
						<img src="~/images/Surgeon.png" width="50px"/>
						@Model.Doctors[i].SecondName 
						@Model.Doctors[i].FirstName.Substring(0,1).ToUpper(). 
						@Model.Doctors[i].MiddleName.Substring(0,1).ToUpper().
					</a>
				</div>
			</div>
		}
	</div>

	<div class="content">
		@for (var i = 8; i < 12; i++)
		{
			<div class="item">
				<div class="color">
					<a class="speciality" href="/Times">
						<img src="~/images/Surgeon.png" width="50px"/>
						@Model.Doctors[i].SecondName 
						@Model.Doctors[i].FirstName.Substring(0,1).ToUpper(). 
						@Model.Doctors[i].MiddleName.Substring(0,1).ToUpper().
					</a>
				</div>
			</div>
		}
	</div>
</div>
<div class="footer"><a class="text" href="/Record">Вернуться назад</a></div>

		</div>
	</body>
</html>